<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Clase de rutas </h1>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2><%= clase %></h2>
  </body>
</html>
